* {
  font-family: Roboto;
}
/* HEADER */
header {
  margin: 0 auto;
  max-width: 1279.999px;
  height: 69px;
}

header img {
  margin-top: 63px;
  margin-bottom: 40px;
}

body {
  margin: 0 auto;
}

a {
  text-decoration: none;
  list-style: none;
  color: #fff;
}

header p:first-child {
  color: #000;
  font-size: 80px;
  font-style: normal;
  margin-top: 63px;
  margin-bottom: 50px;
  list-style-type: none;
  text-decoration: none;
}

.text-logo_second {
  color: #4bcaff;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 8px;

  line-height: normal;
  text-decoration: none;
}

.header-nav {
  color: #fff;
  background-color: #35444f;
  margin: 0;
  padding: 0;
}

.heder-ul {
  display: flex;
  justify-content: center;
}

header li {
  padding: 24px 50px 24px 50px;
  border-left: 1px solid #fff;
  font-size: 24px;
  font-style: normal;
  list-style-type: none;
  font-weight: 400;
  line-height: normal;
}

header li:hover {
  background-color: #2b3238;
  cursor: pointer;
}

header li:last-child {
  border-right: 1px solid #fff;
}

/* MAIN */
.main-container {
  margin: 0 auto;
  margin-top: 250px;
  margin-left: 313px;
}
/* ----ASIDE---- */
.aside-container {
  float: left;
}

.main-container li {
  list-style: none;
  text-decoration: none;
}

.main-container a {
  list-style: none;
  text-decoration: none;
  color: #495863;
  font-family: Roboto;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 100% */
}

.main-container .aside-container ul {
  margin: 0 auto;
  border: 1px solid #000;
  width: 305px;
  height: 395px;
}

.main-container .aside-container li {
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 79px;
}

.aside-container li:hover {
  background-color: #dbdbdb;
  text-align: center;
  margin-left: -40px;
  color: black;
}
.aside-container a:hover {
  color: black;
}

.container-main_image {
  margin: 0 auto;
  width: 885px;
  height: 832px;
  background: rgba(0, 0, 0, 0);
}

.container-main {
  display: flex;
  width: 870px;
  height: 529px;
  margin-left: 52px;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

.container-main_image .container-main img {
  width: 320px;
  height: 381px;
}

.container-main_text {
  margin-top: 37px;
  width: 885px;
  margin-left: 53px;
  color: #2c2c2c;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

.container-main-text_after {
  width: 885px;
  margin-left: 53px;

  color: #2c2c2c;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

/* FOOTER  */

.footer-container {
  margin: 0 auto;
  width: 67%;
  height: 69px;
  margin-top: 54px;
  background: rgba(99, 105, 110, 0.48);
}

.footer-container .footer-ul {
  display: flex;
  gap: 20px;
}

.footer-container .footer-item {
  list-style: none;
  text-decoration: none;

  color: #0c1927;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 100% */
}

.footer-container li {
  text-decoration: none;
  list-style: none;
  margin-top: 20px;
}

.footer-container a:hover {
  color: #3181a6;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-decoration: underline;
}

.footer-container p {
  color: #010101;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  margin-top: -42px;
  margin-left: 1005px;
  padding-bottom: 60px;
  line-height: 24px; /* 100% */
}
